* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
    overflow-x: hidden;

}



h1,h2 {
  color: #665b49;
}

h1 {
  padding-top: 10%;
  font-size: 46px;

}

h2 {
  margin-bottom: 2%;
}

h3 {
  color: #778074;
  text-align: center;
}
/* header */

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 10vh;
  background-color: #dcffc0;
}

.logo {
  color: #437f17;
  font-size: 20px;
}
.nav-links {
  display: flex;
  justify-content: space-around;
  width: 30%;
}
.nav-links li {
  list-style: none;
}
.nav-links a {
  color: #437f17;
  text-decoration: none;
  font-size: 14px;
}
.burger {
  display: none;
}
.burger div {
  width: 25px;
  height: 3px;
  background-color: #437f17;
  margin: 5px;
}

/* main */

#title-image {
  border-radius: 100%;
  padding: 10%;
}

.row {
  display: flex;
  margin: auto;
  width: 80%;
  flex-wrap: wrap;
  padding: 10px;
}

.title-column {
  flex: 1;
  max-width: 50%;

}

.off-white-section {
  background-color: #f8f8f8;
  padding-top: 5%;
  padding-bottom: 5%;
}

.column {
  flex: 1;
}

.white-section {
  background-color: #ffff;
  padding-top: 5%;
  padding-bottom: 5%;
}

img {
width: 100%;
padding: 10px;
}

p {
  color: #ffff;
}
.centered-row {
  display: flex;
  margin: auto;
  width: 80%;
  justify-content: center;
}



/* footer*/
footer {
  display: flex;
  margin: auto;
  height: 30vh;
  align-items: center;
  justify-content: center;
  background-color: #437f17;
}



/* media-queries */

@media only screen and (max-width: 600px) {
  h1 {
    text-align: center;
  }
  }


@media only screen and (max-width: 800px) {
  body {
    overflow-x: hidden;
  }
  .nav-links {
    position: absolute;
    right: 0px;
    height: 50vh;
    top: 10vh;
    background-color: #dcffc0;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    transform: translateX(100%);
  }

  .burger {
    display: block;
    cursor: pointer;
  }
  .nav-active {
    transform: translateX(0%);
  }

  .column, .title-column {
  flex: 100%;
  max-width: 100%;
  padding-bottom: 10%;
 }

h1 {
  font-size: 38px;
}
.nav-links a {
  font-size: 18px;
}
.logo {
  font-size: 24px;
}



}
